/* here you can put your own css to customize and override the theme */

.page-content{
	background: url('../../../../images/batik3.png');
	 /*no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
