<!--
.exam-card {
	/*background-color: #000000;*/
}
a {
	font-family: Arial;
	font-size: 12px;
	color: #FFFF99;
}
a:link {
	text-decoration: none;
	color: #1750A2;
}
a:visited {
	text-decoration: none;
	color: #1750A2;
}
a:hover {
	text-decoration: underline;
	color: #FF9900;
	
}
a:active {
	text-decoration: none;
	color: #1750A2;
}
body, td, th {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
}
body {
 	//background: #f3f2e8 url(../images/bp.gif) no-repeat center top; font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 0px; margin: 0px; color:#35383d;}
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	//background : #D1D5D8 url(images/bp.gif) no-repeat center top;
	
}
/*************** Forms ***************/

form label {
                padding: 0 0 2px;
                font-weight: bold;
                }
             
form fieldset legend {
                font-weight: bold;
                margin-bottom: 10px;
                padding-top: 10px;
                }
                
form p small {
                font-size: 0.75em;
                color: #777;
                }
				
				
form input.text-input,
form select,
form textarea,
form .wysiwyg {
                padding: 2px;
                font-size: 11px;
                background: #fff url('images/bg-form-field.gif') top left repeat-x;
                border: 1px solid #C0C0C0;
       	    color: #000000;
		    font-family: Arial, Helvetica, sans-serif;

                }
            
form .small-input {
                width: 25% !important;
                }
                
form .medium-input {
                width: 50% !important;
                }
                
form .large-input {
                width: 97.5% !important;
				font-size: 16px !important;
				padding: 8px !important;
                }
                
form textarea {
                width: 97.5% !important;
                font-family: Tahoma, Helvetica, sans-serif;
                }
                
form select {
                padding: 2px;
                background: #fff;
                }
				
form input[type="checkbox"],
form input[type="radio"] {
				padding: 0;
                background: none;
				border: 0;
                }


/************ Button ************/
.button {
		    font-family: Arial;
                display: inline-block;
                background: #FF9900 url('images/gambar-button.gif') top left repeat-x !important;
                //border-left: 	solid 1px #54698D;
		    //border-top: 	solid 1px #54698D; 
		    //border-right: 	solid 1px #ABD9FE; 
		    //border-bottom: 	solid 1px #ABD9FE;
                border: 1px solid #ffffff !important;
                padding: 3px 7px 3px 7px !important;
                color: #05223A !important;
                font-size: 12px !important;
                cursor: pointer;
                font-weight:bold; 
               // font-color: #000000;
                }



                }
                
.button:hover {
                text-decoration: underline;
                 background: #C63C18url('images/gambar-button.gif') top left repeat-x !important;

                
                }
                
.button:active {
                padding: 5px 7px 3px 7px !important;
                }
				
a.remove-link {
				color: #bb0000;
				}

a.remove-link:hover {
				color: #000;
				}

/* the div that holds the date picker calendar */
.dpDiv {
	}


/* the table (within the div) that holds the date picker calendar */
.dpTable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #505050;
	background-color: #ece9d8;
	border: 1px solid #AAAAAA;
	}


/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
	}


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
	}


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
	}


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
	}


/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
	border: 1px solid #ece9d8;
	}


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	}


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
	background-color: #aca998;
	border: 1px solid #888888;
	cursor: pointer;
	color: red;
	}


/* the table cell that holds the name of the month and the year */
.dpTitleTD {
	}


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
	}


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	}


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: white;
	}


/* additional style information for the text that indicates the month and year */
.dpTitleText {
	font-size: 12px;
	color: gray;
	font-weight: bold;
	}


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
	color: 4060ff;
	font-weight: bold;
	}


/* the forward/backward buttons at the top */
.dpButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
	}


/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	}
	
.re:hover {background-color: #A6CF45; 
		font-size:9px; 
		font-family:tahoma; 
		color:#000000; 
		font-weight:bold; 
		border-left: 	solid 1px #2A344D;
		border-top: 	solid 1px #2A344D; 
		border-right: 	solid 1px #C0C0C0; 
		border-bottom: 	solid 1px #C0C0C0;}
.re {padding: 2px;  
		text-align: center;
		text-valign: bottom;
		background-color: #2A344D; 
		font-size:9px; 
		font-family:tahoma; 
		color:#A6CF45; 
		font-weight:bold; 
		border-left: 	solid 1px #000000;
		border-top: 	solid 1px #000000; 
		border-right: 	solid 1px #000000; 
		border-bottom: 	solid 1px #000000; 
		text-decoration: none;width: 300;HEIGHT: 20;}
		
/*BUAT EDIT  */

#editButton{
display:block;
width:4%;
padding:5px;
border:2px solid #D0E8F4;
background-color:#ECF8FD;
}
#tampilEdit {
width:97,5%;
display: none;
padding:5px;
border:2px solid #FADDA9;
background-color:#FDF4E1;
}

#menu {
	background: #1D3157;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	
	width: 100%;
}
#menu li {
	float: left;
	font: 6pt "Tahoma";
	margin: 0;
	padding: 0;
}
#menu a {
	background: #1D3157 url("images/seperator.gif") bottom right no-repeat;
	color: #fff;
	float: left;
	margin: 0;
	padding: 8px 8px;
	text-decoration: none;
	font-weight:normal;
}
#menu a:hover {
		float: right;
	background: #C0D2EC url("images/gila.gif") bottom center no-repeat;
	color: #1D3157;
	padding-bottom: 8px;
	}

.re:hover {background-color: #FF9900; 
		font-size:10px; 
		font-family:Arial; 
		color:#ffffff; 
		font-weight:bold; 
		border-left: 	solid 1px #014E90;
		border-top: 	solid 1px #014E90; 
		border-right: 	solid 1px #ABD9FE; 
		border-bottom: 	solid 1px #ABD9FE;
		text-decoration: underline;width: 55;HEIGHT: 18;}

.re {  
		text-align: center;
		text-valign: bottom;
		background-color: #FF5705; 
		font-size:10px; 
		font-family:Arial; 
		padding-left:7px;
		padding-right:7px;
		padding-top:6px;
		padding-bottom:6px;
		color:#ffffff; 
		font-weight:bold; 
		border-left: 	solid 1px #FEAB82;
		border-top: 	solid 1px #FEAB82; 
		border-right: 	solid 1px #6E2400; 
		border-bottom: 	solid 1px #6E2400; 
		text-decoration: none;width: 55;HEIGHT: 18;}
		
.bayang {
box-shadow: 0 1px 20px #000;
-moz-box-shadow: 0 1px 20px #000;
-webkit-box-shadow: 0 1px 20px #000;

}


.style1 {font-size: 9px}