.smartphone {
        box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.5);
        opacity: 0.9;
        margin-bottom: 20px;
        }
        .smartphone {
            background: #000 none repeat scroll 0 0;
            height: 490px;
            margin: 70px auto;
            position: relative;
            width: 246px;
        }
        .smartphone, .smartphone .smartphone-camera, .smartphone .smartphone-home, .smartphone .smartphone-screen, .smartphone .smartphone-speaker {
            border: 1px solid #A6A29F;
            font-family: Intro,sans-serif;
        }
        .smartphone .smartphone-camera, .smartphone .smartphone-home, .smartphone .smartphone-screen, .smartphone .smartphone-speaker {
            background: #fff none repeat scroll 0 0;
            border-radius: 2em;
            height: 6px;
            left: 50%;
            position: absolute;
        }
        .smartphone .smartphone-camera {
            margin-left: -25px;
            top: 20px;
            width: 6px;
        }
        .smartphone .smartphone-speaker {
            margin-left: -15px;
            top: 20px;
            width: 35px;
        }

        .smartphone .smartphone-screen {
            border-radius: 0;
            bottom: 60px;
            height: auto;
            left: 6px;
            right: 6px;
            top: 60px;
            width: auto;
            border-radius: 10px;
        }

        .smartphone .smartphone-screen .smartphone-smartphone-screen-in {
            bottom: 0;
            font-size: 1em;
            left: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
        }


        .smartphone .smartphone-home::before {
            border: 2px solid #222;
            border-radius: 10px;
            bottom: 11px;
            content: "";
            left: 11px;
            position: absolute;
            right: 11px;
            top: 11px;
        }
        .smartphone .smartphone-home {
            bottom: 10px;
            cursor: pointer;
            height: 36px;
            left: 50%;
            margin-left: -20px;
            width: 36px;
        }